.projects-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    gap: 1em;
}

.projects h2 {
    color: #57616e;
    margin-bottom: 0;
}

@media (max-width: 570px) {
    .projects-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 1em;
    }

    .projects h2 {
        color: #57616e;
        margin-bottom: 0;
    }
}