.ProjectHelper {
    width: 100%;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    color: #abb0b2;
}
@media (max-width: 570px) {
    .ProjectHelper {
        width: 25em;
        border: 1px solid rgba(0, 0, 0, 0.37);
        border-radius: 10px;
        padding: 5px;
        color: #abb0b2;
    }
}
.source-code{
    text-decoration: none;

}
.ProjectHelper h4, .go-prim-dot {
    margin: 0px 5px;
    font-size: 15px;
    font-style: oblique;
    text-align: start;
    font-weight: 700;
    color: #57616e;
    transition: all 0.4s ease-in-out;
}

.ProjectHelper h4:hover{
    color: rgba(0, 0, 0, 0.79);
    .go-prim-dot {
        color: rgba(20, 155, 155, 0.75);
    }
    transform: scale3d(100%,100%,90%) translateX(0.5px);
}


.Project-helper-p {
    margin-top: 10px;
    margin-bottom: 20px;
    margin-left: 5px;
    color: #57616e;
    font-size: 12px;
    font-weight: 200;
}

.project-skill-card {
    display: flex;
    flex-wrap: wrap;
    margin: 5px 0px;
}

.project-skill-card p {
    background: linear-gradient(225deg, rgba(171, 171, 171, 1.0), rgba(79, 89, 102, 0.9));
    padding: 5px;
    border-radius: 5px;
    color: rgba(0, 0, 0, 0.49);
    margin:5px 5px;
    font-size: 13px;
    will-change: transform;
    transition: transform 0.5s;
}

.project-skill-card p:hover{
    color: white;
    transition: transform 125ms;
    transform: translateY(-5px);
}

