header {
    display: flex;
    align-items: center;
    background-image: url("../assets/topBg.svg");
    background-size: cover;
    background-color: rgba(87, 97, 110, 0);
    gap: 15rem;
}

header img {
    width: 10vw;
    height: 140px;
    border: 1px solid;
    border-radius: 50%;
}

.header-details {
    border: 1px solid;
    padding: 10px;
    width: 70%;
    background-color: rgba(79, 89, 102, 0.87);
    color: white;
}

.header-details h2 {
    font-weight: 500;
    margin: 5px 0px;
}

.header-details p {
    font-weight: 200;
    margin: 0px;
}

.header-details hr{
    margin: 5px 0px;
    width: 40%;
}

.header-details div {
    font-weight: 50;
    margin: 5px 0px;
}

.header-contact {
    margin: 25px 0px;
    font-size: 0.9rem;
}



.header-contact ul {
    display: flex;
    list-style: none;
    gap:1rem;
    padding: 0px;
}

.header-contact ul li{
    display: flex;
    align-items: center;
    color: #57616e;
}

.header-contact ul li a{
    text-decoration: none;
    color: white;
    font-size: medium;
    margin: 0px;
    padding: 0px;
}