.education {
    color: #57616e;
}
.education h2 {
    font-size: 22px;
    color: #57616e;
    margin-bottom: 0;
}

@media (max-width: 550px) {

    .education h2 {
        margin-bottom: 0;
        font-size: 20px;
    }
}
