.skills-top{
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem;
    font-size: 16px;
}

.skills-card {
    background: linear-gradient(225deg, rgba(171, 171, 171, 1.0), rgba(79, 89, 102, 0.9));
    color: white;
    padding: 5px;
    margin: 2px 5px;
    border-radius: 5px;
}

@media (max-width: 550px) {
    .skills-top{
        display: flex;
        flex-wrap: wrap;
        gap: 0.4rem;
        font-size: 14px;
    }

    .skills-card {
        background: linear-gradient(225deg, rgba(171, 171, 171, 1.0), rgba(79, 89, 102, 0.9));
        color: white;
        padding: 5px;
        margin: 0;
        border-radius: 5px;
    }
}