.skills-top{
    display: flex;
    flex-wrap: wrap;
    gap: 0.1rem;
    font-size: 16px;
}

.skills-card {
    background-color: #abb0b2;
    color: white;
    padding: 5px;
    margin: 0px 5px;
    border-radius: 5px;
}

@media (max-width: 550px) {
    .skills-top{
        display: flex;
        flex-wrap: wrap;
        gap: 0.4rem;
        font-size: 14px;
    }

    .skills-card {
        background-color: #abb0b2;
        color: white;
        padding: 5px;
        margin: 0;
        border-radius: 5px;
    }
}